*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.list-errors ul li{
  list-style: none!important;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  background: #ffcc33;
  color: #505050;
  font-weight: normal;
  font-size: 12px;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  font-size: 1.4em;
}

#_errores ul li {list-style:none}

#contenido{
  width: 100%;
  min-height: 100%;
  float: left;
  position: relative;
}

#head-lead{
  width: 100%;
  float: left;
  position: relative;
  border-bottom: 1px solid #dedede;
}

#head-lead img{
  width: 100%;
  float: left;
  position: relative;
}

#wrapper{
  width: 100%;
  height: 100%;
  padding: 10px;

}


.side-bar,.b-contenido{
  width: 100%;
  float: left;
  position: relative;
}

#close_count{
  margin-top: 10px;
  bottom: 0px;
}


  #head-lead,#nav{
    width: 100%;
    float: left;
    position: relative;
    padding: 20px;
  }

  #nav{
    //background: #eaeaea;
  }


@media (min-width: 70em){

  #wrapper{
    width: 69em;
    margin: auto;
    //background: #aaa;
    border-right: 1px solid #dedede;
    padding: 0px;
  }

  .side-bar{
    width: 17em;
    position: fixed;
    min-height: 100%;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
  }

  .b-contenido{
    width: 52em;
    min-height: 100%;
    left: 17em;
    position: relative;
    padding: 10px;
    background: #eee;
  }
}
